body{
    background-color: aqua;
    margin: 0;
    padding: 0;
}

footer{
    background-color: chocolate;
    text-align: center;
    color: white;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}