body{
    background-color: aqua;
    margin: 0px;
    padding: 0px;
}

header{
    text-align: center;
    background-color: chocolate;
    padding: 15px;
    color: white;
}

#body{
    text-align: center;
    line-height: 100vh;
}